

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: 1px 1px 1px #3f3f3f;
	color: #ececec;
	background-color: #96a5dc;
  user-select: none;
}


button {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: 1px 1px 1px #3f3f3f;

	color: #e2e0e0;
	background-color: #d83422;

	cursor: pointer;
}



.appContainer {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}


	.header {
		overflow: hidden;
		box-sizing: border-box;
		padding: 10px 20px;
		width: 100vw;
		/*height: 100px;*/

		box-shadow: 0 0 20px 1px black;
		/*display: flex;*/
		/*flex-direction: row;*/
		/*align-items: center;*/
		/*justify-content: space-between;*/
		background-color: #252c54;
	}


		.header > span {
			/*flex: 0 0 auto;*/
			float: left;
			/*padding: 0 100px 5px 0;*/
			margin: -5px 15px 0 0;
			padding: 0;
			font-weight: 600;
			text-align: left;
			font-size: 30px;
			text-shadow: 1px 1px 2px black;
		}


		.header > p {
			/*float: right;*/
			/*clear: left;*/
			/*flex: 1 1 auto;*/
			padding: 0;
			box-sizing: border-box;
			/*max-width: 400px;*/
			margin: 0;
			/*float: right;*/
			text-align: right;
			text-align-last: right;
			font-size: 16px;
			text-shadow: 1px 1px 2px black;
		}


.lifeContainer {
		width: 100%;
		flex: 1 1 auto;

		display: flex;
		align-items: center;
		justify-content: center;
	}


	.viewControlsContainer {
		box-sizing: content-box;
		width: 80vw;
		min-width: 550px;

		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 10px 20px 10px;
		/*border: 1px solid rgba(0, 0, 0, .7);*/
		/*border-radius: 5px;*/
		/*box-shadow: 0 0 20px 0px black;*/
/**/
		/*background-color: #3b62d6;*/
	}


		.viewControlsContainer > div:first-child {
			align-self: flex-start;

			margin-left: 2.5%;

			font-size: 22px;
			font-weight: 700;
		}


		.viewContainer {
			width: 95%;
			margin-top: 10px;
		}