

body {
	margin: 0;
	
	font-family: 'Roboto Mono', monospace;	
	
	background-color: white;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


button {
	font-family: 'Roboto Mono', monospace;
}


button:active, button:focus {
	outline: none;
}


#app {
	min-width: 100vw;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


	#header {
		width: 100vw;

		flex: 0 0 76px;
		
		text-align: center;
		background-color: red;
	}


		#header > h1 {
			padding-bottom: 10px;
			margin: 0;
			
			font-size: 50px;
		}


	#view-controls-container {
		width: 70vw;

		flex-grow: 1 1;
		/*height: calc(100vh - 76px);*/

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


		#canvas-container {
			width: 100%;
		}


		canvas {
			border: 4px solid orange;
		}


		#controls-container {
			width: 50%;

			display: flex;
			justify-content: space-around;
			align-items: center;

			padding: 10px;
						
			background-color: cyan;
		}


			#controls-container > button {
				height: 40px;
				
				padding: 5px 10px 5px 10px;
				border: 1px solid black;			  

			  font-size: 18px;
				background-color: green;
			}


	.empty {
		flex: 0 0 0;
	}


