

body {
	background-color: #d5daef;
	color: #ececec;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	text-shadow: 1px 1px 1px #3f3f3f;
  user-select: none;
}


button {
	margin: 0;
	outline: none;
	padding: 0;
}


.appContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	min-width: 100vw;
}


.header {
	background-color: #466bd6;
	box-shadow: 0 0 2px 1px #000000ad;
	box-sizing: border-box;
	overflow: hidden;
	padding: 10px 20px;
	width: 100vw;
}


.header > * {
	text-shadow: 1px 1px 1px #0b256d;
}


.header > span {
	float: left;
	margin: -5px 15px 0 0;
	padding: 0;
	font-weight: 600;
	text-align: left;
	font-size: 30px;
}


.header > p {
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align-last: right;
	text-align: right;
}


.lifeContainer {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	width: 100%;
}


.viewControlsContainer {
	align-items: center;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	min-width: 550px;
	padding: 10px 20px 10px;
	width: 80vw;
  color: #191818;
  font: 600 20px 'Open Sans';
  text-shadow: 0.5px 0.5px 0.5px #9da0a7;
}


.viewContainer {
	align-self: flex-start;
	font-size: 22px;
	font-weight: 700;
	margin-left: 2.5%;
	margin-top: 10px;
	width: 95%;
}

